.modal-closed {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-container {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

.modal-closed,
.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.25);
}

.modal {
    display: flex;
    flex-direction: column;

    justify-content: center;

    background-color: white;

    border-radius: 7px;

    padding: 30px;
}

.modal > *:nth-last-child(1) {
    margin-top: 10px;
}

.modal-title {
    font-weight: 600;
    font-size: 1.25em;
}
