@font-face {
    font-family: 'Planet Kosmos';
    src: url('/fonts/planet_kosmos.ttf') format('truetype');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}
