@font-face {
    font-family: 'Planet Kosmos';
    src: url('/fonts/planet_kosmos.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    min-height: 100vh;
}
