@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-VariableFont_opsz,wght.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    min-height: 100vh;
}
