.mainSector {
    display: flex;

    flex: 1;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 20;

    background-color: bisque;
}

.link {
    text-decoration: none;
}